
[target="_blank"]{
    color: rgb(234, 0, 255);
}

.uplink{
    color: rgb(175, 20, 20);
    font-size: 19px;
    border: 1px solid rgb(148, 24, 24);
    background-color: black;
    margin-right: 5px;
    position: relative;
    top: -3px;
    
}

.uplinklogo{
    font-size: 30px;
    border: 1px solid rgb(148, 24, 24);
    background-color: black;
    margin-right: 30px;
}

a:visited{
    color: rgb(150, 20, 20);
}

a.hasu:visited{
    color: rgb(168, 0, 184);
}

a:hover{
    background-color: rgb(66, 66, 66);

}

::backdrop{
    background-size: auto;
}

body{
    background-color: rgb(46, 46, 46);
    border: 2px solid;
    margin-top: 0px;
    margin-left: 1px;
}

header{
    border: 1px solid;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;

}

nav{
    border: 1px solid;
}

main{
    border: 2px solid;
}


footer{
    border: 1px solid;
    position: absolute;
    bottom: 10px;
    width: 330px;
    height: 50px;
    left: 5px;

}

#kuva1{
 
 margin-top: 10px;
 margin-bottom: -5px;
 border-radius: 35%;
 border: 2px solid;

 -webkit-box-shadow: 6px 6px 18px 0px rgba(0,0,0,0.49); 
box-shadow: 6px 6px 18px 0px rgba(0,0,0,0.49);
 
}
#kuva2{
    margin-top: 10px;
    margin-bottom: -5px;
    border-radius: 35%;
    border: 2px solid;

    -webkit-box-shadow: 6px 6px 18px 0px rgba(0,0,0,0.49); 
box-shadow: 6px 6px 18px 0px rgba(0,0,0,0.49);
   }

.otsikko{
    font-size: 25px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: rgb(148, 13, 13);

    text-shadow: 2px 3px 4px rgba(0,0,0,0.8);

}

.peliprofiili{
width: 300px;
height: 270px;
text-align: center;
border-radius: 25px;
background-color: rgb(56, 56, 56);
display: inline-block;
overflow: auto;

-webkit-box-shadow: 6px 6px 18px 0px rgba(0,0,0,0.49); 
box-shadow: 6px 6px 18px 0px rgba(0,0,0,0.49);
}

.kouluprofiili{
width: 300px;
height: 270px;
text-align: center;
border-radius: 25px;
background-color: rgb(56, 56, 56);
display: inline-block;
overflow: auto;

-webkit-box-shadow: 6px 6px 18px 0px rgba(0,0,0,0.49); 
box-shadow: 6px 6px 18px 0px rgba(0,0,0,0.49);
}

.kirjaudu{
    display: inline-block;
    position:absolute;
    right: 15px;
}


table, td, th{
    border: 1px solid black;
    border-collapse: collapse;

}

th{
    background-color: rgb(66, 66, 66);
    padding: 3px;
}
td{
    background-color: rgb(56, 56, 56);
    padding: 1px;
}
